asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.8
crispy-bootstrap5==2026.3
Django==5.2.15
django-crispy-forms==2.6
idna==3.18
pillow==12.3.0
python-dotenv==1.2.2
requests==2.34.2
sqlparse==0.5.5
stripe==15.3.0
typing_extensions==4.16.0
urllib3==2.7.0
